# spring boot initializes this docker-compose (with local profile) if `spring.docker.compose.profiles.active=local` property is set
services:
    emailhog:
        image: 'mailhog/mailhog'
        ports:
            - 1025:1025
        networks:
            - note-app-network
        profiles:
            - mailHog
            - all
    mysql:
        image: 'mysql'
        environment:
            - "MYSQL_ROOT_PASSWORD=password"
            - "MYSQL_DATABASE=noteappdb"
        ports:
            - 3306:3306
        networks:
            - note-app-network
        labels:
            #org.springframework.boot.ignore: true #use this to omit this from initialization
            # this will be sent to org.springframework.boot.docker.compose.service.connection.jdbc.JdbcUrlBuilder.build to build jdbc URL
            org.springframework.boot.jdbc.parameters: useUnicode=true&characterEncoding=utf8&allowPublicKeyRetrieval=true&useSSL=false
        profiles:
            - all

networks:
    note-app-network:
        driver: bridge


#run using
#docker-compose --profile all up OR
#docker-compose --profile mailHog up

