<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>

<th:block th:fragment="note-editor">
    <div class="note-editor-container">
        <input class="form-control" id="id" placeholder="" required="" th:field="*{id}" type="hidden">

        <div class="row">
            <div class="col-md-8 mb-2">
                <label for="title">Title</label>
                <input class="form-control" id="title" placeholder="Enter note title..." required="" th:field="*{title}" type="text"
                       value="">
                <span th:errors="*{title}" th:if="${#fields.hasErrors('title')}" class="error"></span>
            </div>

            <div class="col-md-4 mb-2">
                <label for="files">Attach File</label>
                <input class="form-control" id="files" type="file" value="" name="files">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-2">
                <label for="content">Content</label>
                <textarea class="form-control textarea-resize-vertical" id="content" placeholder="Enter note content..." required="" th:field="*{content}"
                       rows="3"></textarea>
                <span th:errors="*{content}" th:if="${#fields.hasErrors('content')}" class="error"></span>
            </div>
        </div>
    </div>

</th:block>

<th:block th:fragment="note-box">

    <div class="card  shadow-sm note-box">
        <div class="card-header">
            <h5 class="card-title"><span th:text="${note.title}"></span></h5>
        </div>

        <div class="card-body">
            <p class="card-text"><span th:text="${note.content}"></span></p>
            <div th:if="${note.getFileSize()>0}">
                <hr/>
                Attachments:
                <span th:each="file : ${note.files}">
                    <a th:href="@{/download/file/{id}(id=${file.id})}">
                        <span th:text="${file.name}"></span>
                    </a>
            </span>
            </div>

        </div>

        <div class="card-footer text-muted">
            Posted on <span th:text="${#temporals.format(note.createdDate, 'yyyy-MM-dd HH:mm')}"></span>, By <span th:text="${note.username}"></span>
        </div>
    </div>

</th:block>

</body>
</html>

